In [1]:
%run vaex_implementation_v6.py

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import vaex
import numpy as np
import pandas as pd
import pyarrow as pa

# Expression: NumPy - Arrow
**2021/08/18** *Cleaning up the code*

Expression can be NumPy or Arrow. We can check that in the values dtype.

In [4]:
x = np.array([np.nan, 2.5, 3.5])
y = np.array([9.2, 10.5, 13.5])
z = np.array([1, 2, 3])
df_num = vaex.from_arrays(x=x, y=y, z=z)
df_num

  #      x     y    z
  0  nan     9.2    1
  1    2.5  10.5    2
  2    3.5  13.5    3

In [5]:
a = pa.array(pd.Series([1, 2]), mask=np.array([0, 1], dtype=bool))
df_arr = vaex.from_arrays(a=a)
df_arr

  #  a
  0  1
  1  --

In [6]:
isinstance(df_arr.a.values, (pa.Array, pa.ChunkedArray))
df_arr.a.values

True

<pyarrow.lib.Int64Array object at 0x000001D1C74BFB80>
[
  1,
  null
]

In [7]:
isinstance(df_num.z.values, np.ndarray)
df_num.z.values

True

array([1, 2, 3])

In [8]:
_from_dataframe_to_vaex(df_num.__dataframe__())
_from_dataframe_to_vaex(df_arr.__dataframe__()) # In v6 arrow not supported yet

  #      x     y    z
  0  nan     9.2    1
  1    2.5  10.5    2
  2    3.5  13.5    3

NotImplementedError: Value of columns of type <class 'pyarrow.lib.Int64Array'> not handled yet